.navbar {
  background: -webkit-linear-gradient(45deg, rgb(120, 117, 103), rgb(255, 255, 255));
  border-radius: 0.5em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  margin-top: 10px;
}

.search {
  display: inline-block;
  margin-top: 40px;
  margin-left: 30px;
  width: 40rem;
}

.offers {
  margin-top: 40px;
  border-radius: 0.5em;
  width: 51rem;
  background: rgb(255, 255, 255, .6);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.container {
  display: flex;
  font-family: 'Poppins', sans-serif;
}

.grid {
  width: 100%;
}

.card {
  margin-top: 3px;
  width: 20rem;
  height: 5.5rem;
  background: rgb(255, 255, 255, .6);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.card:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.card-columns {
  margin-left: 250px;
  margin-top: 40px;
}

.cabinet {
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  margin-top: 40px;
  display: flex;
}

.x {
 padding-right: 30px;
}

.poiskForm {
  display: flex;
  flex-direction: row;
}


.newsDiv {
  width: 100px;

}




